* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: cursive;
}

body {
    height:100vh;
    width:100vw;
    background:dimgrey;
}

#canvas-fg, #canvas-bg {
    position:absolute;
    left:50%;
    transform:translate(-50%, 0%);
    background:white;
    cursor:crosshair;
}




neon-duel {
    background-color:hsl(223deg 47% 7%);
    background-color:hsl(0deg 100% 50%);
    background-color:hsl(300deg 100% 50%);
    background-color:hsl(150deg 100% 50%);
    background-color:hsl(176deg 100% 50%);
    background-color:hsl(340deg 100% 50%);
    background-color:hsl(0deg 0% 100%);
}

cyber-gold{
        bg1:hsl(24deg 100% 5%);
        bg2:hsl(43deg 80% 80%);
        p1:hsl(42deg 100% 50%);
        p2:hsl(350deg 100% 50%);
        ball:hsl(24deg 100% 50%);
        goal:hsl(43deg 100% 81%);
        text:hsl(43deg 100% 81%);
}


NeoVectorGreen {
    bg1:hsl(120deg 100% 20%);
    bg2:hsl(0deg 0% 0%);
    p1:hsl(144deg 100% 50%);
    p2:hsl(144deg 100% 50%);
    ball:hsl(160deg 100% 50%);
    goal:hsl(156deg 100% 50%);
    text:hsl(156deg 100% 50%);
    ouline: true;
}

BlueChrome90s {
        bg1:hsl(300deg 100% 35%);
        bg2:hsl(0deg 0% 0%);
        p1:hsl(315deg 100% 60%);
        p2:hsl(323deg 80% 33%);
        ball:hsl(300deg 100% 70%);
        goal:hsl(300deg 100% 80%);
        text:hsl(0deg 0% 100%);
        ouline: true;
}